.Search .BarGhost {
  width : 100%;
  max-width : 550px;
  position : relative;
  height : 49px;
  flex : 1;
  animation : .3s forwards Bar;
}

.Search.fullscreen .BarGhost {
  animation : .3s forwards BarFull;
}




.Search .Bar {
  box-shadow : 0px 1px 3px 0 rgba(0,0,0,.24);
  position : absolute;
  width : 100%;
  background-color : white;
}

.Search.fullscreen .Bar:hover {
  box-shadow : 0px 1px 3px 1px rgba(0,0,0,.24);
}



.Search .Bar .InputComponents {
  display : flex;
  align-items : center;
  height : 49px;
}

.Search .Bar input {
  padding: 15px 0 15px 1em;
}

.Search .Bar input::placeholder {
  color : #C8C8C8;
}

.Search .Bar .SearchIcon {
  box-sizing : content-box;
  cursor : pointer;
  padding : 14px 1em 14px 14px;
  width : 21px;
}

.Search .Bar .SearchIcon:hover svg #Desktop-HD {
  fill : #0366D6;
}



@keyframes Bar {
  from {
    transform : translateY(-200%);
    opacity : .2;
  }
}


@keyframes BarFull {
  from {
    transform : translateY(200%);
    opacity : .2;
  }
}
