.Search:not(.fullscreen) .Logo {
  flex-basis : 120px;
  box-sizing: content-box;
  padding-right : 1.5em;
}

.Search.fullscreen .Logo {
  flex-basis : auto;
  width : 204px;
  padding-bottom : 3em;
}

.Search.fullscreen .Logo div {
  font-size : 18px;
  color : #BABABA;
  font-size : 20px;
  text-align : center;
}
