.Search {
  display : flex;
  padding : 1em;
  align-items : center;
}

.Search:not(.fullscreen) {
  justify-content : center;
}

.Search.fullscreen {
  flex-direction : column;
  padding-top : calc(40vh - 90px);
  height : 100%;
}
