* {
  box-sizing : border-box;
}

html {
  height : 100vh;
}

body {
  height : 100%;
}

#root {
  color : #3a3a3a;
  font-family : "Open Sans", sans-serif;
  line-height : normal;
  display : flex;
  flex-direction : column;
  min-width : 300px;
  min-height : 100%;
}

input {
  border : none;
  padding : 0px;
  margin : 0px;
  height : auto;
  width : 100%;
  outline : none;
}

a {
  color : #0366D6;
  text-decoration : none;
}
